* {
    margin: 0 px;
    padding: 0 px;
    box-sizing: border-box;
}

.centrar{
    text-align: center;
}
.fondo {
    background: lightslategray;
}

/*imagen fondo header*/
.header {
	height: 90vh;
	background-image: url(../IMAGE/index.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	align-items: center;
	justify-content: center;
	display: flex;
}



h1 {
	font-size: 3em;
	font-family: "Times New Roman", Times, serif;
	align-items: center;
	color: rgb(107, 167, 245);
}

h2{
    font-size: 2.3em;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    color: rgb(107, 167, 245);
}

.imagen{
	width: 80%;
	height: 80%;
	border:rgb(245, 138, 138) 2px solid ;
	border-radius:10px ;
	}

.logo{
	position: fixed;
	z-index: 1;
	width: 10%;
	background-color: rgba(241, 215, 99, 0.8);
}

/* estilos del footer*/
.face {
	font-size: 60px;
	
}

.linkedin {
	font-size: 4em;
	color: rgb(110, 119, 200);
}

.twitter {
	font-size: 4em;
	color: rgb(104, 174, 245);
}

.bg-footer {
	background: rgb(66, 66, 66);
}

.alinear {
	align-content: space-around;
}

/* ---------------------------------- */
/* whatsapp flotante */


.float{
	position:fixed;
	width:40px;
	height:40px;
	bottom:35px;
	right:25px;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
    font-size:25px;
	box-shadow: 2px 2px 3px #999;
    transition: all 300ms ease;
    z-index:100;
}


.float:hover{
	position:fixed;
	width:50px;
	height:50px;
	bottom:30px;
	right:25px;
	background-color:#25d366;
	color:rgb(255, 255, 255);
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}





