* {
    margin: 0 px;
    padding: 0 px;
    box-sizing: border-box;
}

.centrar{
    text-align: center;
}
.fondo {
    background: lightslategray;
}

/*imagen fondo header*/
.header {
	height: 80vh;
	background-image: url(../IMAGE/index.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	align-items: center;
	justify-content: center;
	display: flex;
}



/* estilos del footer*/
.face {
	font-size: 4em;
	color: blue;
}

.linkedin {
	font-size: 4em;
	color: rgb(110, 119, 200);
}

.twitter {
	font-size: 4em;
	color: rgb(104, 174, 245);
}

.bg-footer {
	background: rgb(66, 66, 66);
}

.alinear {
	align-content: space-around;
}